body{
    background-color: white;
    max-width: 960px;
    width: 100%;
}


.container{
    margin: 1 auto;
    text-align: center;

}

button{
    cursor: pointer;
    color: white;
    background-color: black;
    border-radius: 100px;
}



